@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.job-feed {
  display: flex;
  flex-direction: column;
}

.job-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;

}
